/* 
    Document   : mrs-admin
    Created on : Feb 19, 2014, 1:37:33 PM
    Author     : zohaib
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.mrs-settings {
    width: 100%;
    display: block;
    border: solid thin red;
}