{% extends "search.twig" %}
{# This view will display result #}

{% block searchResult %}
<p>{{ clickAnEventToBookIt }}</p>
<p>It's working!</p>
{# TODO:Display message if no booking is found #}
{# TODO:Booking list #}
{# TODO:pagination #}
{% endblock %}
